html {
	background:Black
}
div.page_head {
	position: relative;
	width: 100%;
	height: 9vw;
	min-height: 36pt;
	margin: auto;
	top: 0;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	background: black;
	z-index: 1;
}
div.link_box {
	position: absolute;
	display: inline-block;
	height: 100%;
	width: 32%;
	left: 0px;
	text-align: center;
}
a {
	text-decoration: none;
}
div.logo {
	position: absolute;
	display: inline-block;
	width: 33%;
	height: 100%;
	margin: auto;
	left: 33.5%
}
div.media {
	position: absolute;
	display: inline-block;
	height: 100%;
	width: 30%;
	left: 73%;
	text-align: center;
	
}
.link_inner {
	position: relative;
	height: 4vh;
	width: 100%;
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.pagelinks {
	color: rgb(220,220,195);
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: calc(6pt + 1.5vw);
	text-decoration: none;
	margin: 1vw;
	margin-top: auto;
	margin-bottom: auto;
}
.media_links {
	display: inline-block;
	height:2vw;
	min-height:9pt;
	width: auto;
	margin: 1vw;
	margin-top: auto;
	margin-bottom: auto;
	text-decoration: none;
	transform: translateY(+35%);
}
a.media_links: hover {
	color: white;
}
div.bandphoto {
	display: block;
}
div.album {
	display: block;
	position: relative;
	margin-top: 5vh;
	width: 65vw;
	min-width: 380px;
	margin-bottom: 4vw;
	margin-left:auto;
	margin-right:auto;
}
div.show {
	position: relative;
	display: block;
	width: 65%;
	min-width: 360px;
	height: calc(30px + 2vw);
	margin: auto;
	margin-bottom: 0px;
}
div.show_w {
	position: relative;
	display: block;
	width: 65%;
	min-width: 360px;
	height: 6vw;
	margin: auto;
	margin-bottom: 25px;
}
div.date {
	position: absolute;
	font-family: 'Open Sans Condensed', sans-serif;
	display: inline-block;
	text-align: left;
	color: rgb(220,220,195);
	width: 20%;
	font-size: calc(8pt + 1.2vw);
}
div.venue {
	position: absolute;
	font-family: 'Open Sans Condensed', sans-serif;
	display: inline-block;
	text-align: left;
	color: rgb(220,220,195);
	width: 60%;
	font-size: calc(8pt + 1.2vw);
	left: 25%
}
div.city {
	position: absolute;
	font-family: 'Open Sans Condensed', sans-serif;
	display: inline-block;
	text-align: left;
	color: rgb(220,220,195);
	width: 30%;
	font-size: calc(8pt + 1.2vw);
	left:75%
}


